*{
	margin:0;
	padding:0;
}
body{
	background-color:#B15874;
	background-size:cover;
	background-attachment:fixed;
	color:#fff;
	font-size:1.1em;
	font-family: 'Poppins', sans-serif;
}
.heading{
	text-align:center;
	width:100%;
	margin:auto;
	margin-top:100px;
	
}
#head{
	font-size:1.8em;
	color:#2BDEA5;
}
#subhead{
	font-size:18px;
	margin-top:10px;
	color:#2BDBDE;
	
}
#content1{
	width: 90%;
	margin: auto;
}
form{
	background-color:#8B7E82;
	padding-top: 34px;
	display: flex;
	width: 54%;
	border-radius: 5px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 60px;	
}
form .box{
	width: 98.5%;
	height: 2.8em;
	position: relative;
	bottom: 10px;
	border:0;
	border-radius: 5px;
	
}
#option1 select{
	width: 98.5%;
	height: 2.7em;
	position: relative;
	bottom: 10px;
	border-radius: 5px;
	border:0;
}
#option2 select{
	width: 98.5%;
	height: 2.7em;
	position: relative;
	bottom: 10px;
	border-radius: 5px;
	border:0;
}
#content2{
	margin-top:10px;
}
#content2 textarea{
	width:98.5%;
	height:125px;
	position:relative;
	bottom:17px;
}
button{
	width:98.5%;
	height:3em;
	position:relative;
	top:11px;
	background-color:rgb(18,219,78);
	border:none;
	color:rgb(255,255,2555);
	margin-bottom:10px;
	cursor:pointer;
}
